@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 95, 10, 135;
  --background-end-rgb: 164, 80, 139;
} */

body {
  color: rgb(255, 255, 255);
  background: #121212;
}

.spacer {
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg1 {
  /* background-image: url("/bg1.svg"); */
  background-color: #17003a;
}

.bg2 {
  background-image: url("/bg2.svg");
}

.bg3 {
  background-color: #028dd2;
}

.bg4 {
  background-image: url("/bg4.svg");
}

.bg5 {
  background-color: #001220;
}

.bg6 {
  background-image: url("/bg6.svg");
}

/* Add this class to your div for the initial 'hidden' state */
.fade-out {
  animation: fade-o 200ms forwards;
}

@keyframes fade-o {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-200px);
  }
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.title {
  background-size: 200%;
  animation: background-pan 3s linear infinite forwards;
}

/* This class will be toggled when the 'open' state changes */
.fade-in {
  opacity: 1;
  transform: translateY(0); 
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.linear-gradient {
  stroke: url(#MyGradient);
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee16e;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf9d;
}